body {
    font-family: font-family: 'Noto Sans JP', sans-serif;
    background-color: gainsboro

}

.display-4 {
    font-family: font-family: 'Noto Sans JP', sans-serif;
    font-size: 60px;
    font-weight: bold
}

.lead {
    font-family: font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
}

.jumbotron {
    background-size: cover;
    background-color: transparent
}

h1 {
    font-family: font-family: 'Noto Sans JP', sans-serif;
    font-size: 35px;
    font-weight: bold
}

h2 {
    font-family: font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    font-weight: bold

}